.cta {
  display: flex;
  justify-content: center;
  background: rgb(212, 212, 212);
  width: 100%;
}

.cta-main {
  width: 98%;
  background: rgb(231, 231, 231);
  padding: 50px 100px 50px 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cta-title {
  padding-bottom: 70px;
}

.cta-tagline-left {
  padding-bottom: 70px;
  width: 30%;
  align-self: start;
  margin-left: 300px;
}

.cta-tagline-right {
  padding-bottom: 70px;
  width: 30%;
  align-self: end;
  margin-right: 300px;
}
