.hero {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -200px;
  overflow: hidden;
  min-height: 850px;
  font-family: "PT Sans Caption", sans-serif;
}

.hero-img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.hero-title {
  position: absolute;
  padding-bottom: 400px;
  color: white;
}

.hero-tagline {
  position: absolute;
  padding-bottom: 300px;
  color: white;
}