.projects {
  display: flex;
  justify-content: center;
  background: rgb(212, 212, 212);
  width: 100%;
}

.projects-main {
  width: 98%;
  background: white;
  padding: 50px 100px 50px 100px;
  text-align: center;
}

.projects-layout {
  display: flex;
  justify-content: center;
}

.projects-title {
  padding-bottom: 50px;
}

.projects-tagline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.projects-tagline {
  padding-bottom: 70px;
}

.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project2 {
  background: linear-gradient(to bottom right, rgb(240, 240, 240), rgb(180, 180, 180));
  width: 512px;
  height: 288px;
  padding: 20px;
  transition: all linear 0.3s;
}

.project1 {
  background: linear-gradient(to bottom right, rgb(95, 95, 95), rgb(43, 43, 43));
  width: 512px;
  height: 288px;
  padding: 20px;
  transition: all linear 0.3s;
}

.project1:hover {
  padding: 12px;
}

.project2:hover {
  padding: 12px;
}