/*        font-family: 'Kanit', sans-serif;

    font-family: 'PT Sans Caption', sans-serif;

    font-family: 'Source Sans Pro', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:link {
  color: rgba(0, 0, 0, 0.7);
}

/* visited link */
a:visited {
  color: rgba(0, 0, 0, 0.7);
}

/* mouse over link */
a:hover {
  color: rgba(0, 0, 0, 0.7);
}

/* selected link */
a:active {
  color: rgba(0, 0, 0, 0.7);
}

h1 {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 42px;
  font-weight: 800;
  padding: 10px;
}

h2 {
  font-family: "Source Sans Pro", sans-serif;
  color: rgba(0, 0, 0, 0.7);
}

p {
  font-family: "Kanit", sans-serif;
  color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

span {
  color: rgba(0, 0, 0, 0.658);
  font-weight: 300;
}

button {
  display: inline-block;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin: 10px;
  text-decoration: none;
  background: none;
  color: white;
  border: 2px white solid;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button {
  display: inline-block;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin: 10px;
  text-decoration: none;
  background: none;
  color: white;
  border: 2px white solid;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  transition: background 150ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: none;
  color: white;
  border: 2px white solid;
}

button:active {
  transform: scale(0.97);
}

.button:hover,
.button:focus {
  background: none;
  color: white;
  border: 2px white solid;
}

.button:active {
  transform: scale(0.97);
}

.section-container {
}

.section {
  display: flex;
  justify-content: center;
  width: 800px;
  max-width: 100%;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge {
  display: inline-block;
  padding: 0px;
  font-size: 8px;
  border: 1px grey solid;
  margin: 3px;
}

.badge p {
  font-size: 14px;
}

.scroll {
  height: 200px;
  overflow: auto;
}

.surfsecrets-logo {
  max-width: 310px;
  margin: -20px 50px;
}

.lock-logo {
  max-width: 310px;
  margin: 20px 50px;
}

.omnigateway-logo {
  max-width: 310px;
  margin: 0px 50px;
}

.codequizzer-logo {
  max-width: 310px;
  margin: 0px 50px;
}


@media only screen and (max-width: 1610px) {
  body {
    background-color: white;
  }

  .section {
    display: block;
    padding: 30px;
  }

  .ssPadding {
    padding: 0px;
    margin: -100px;
  }
}

@media only screen and (max-width: 665px) {
  * {
    text-align: center;
  }

  h1 {
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 32px;
    font-weight: 800;
    padding: 10px;
  }

  p {
    font-family: "Kanit", sans-serif;
    color: white;
    padding: 10px;
    font-size: 17px;
    font-weight: 600;
  }

  .container {
    min-width: 150px;
    max-width: 700px;
    padding: 0px;
  }

  .section {
    padding: 30px 0px;
  }

  .pfp-container {
    height: 250px;
    width: 250px;
    min-width: 250px;
    border-radius: 50%;
    border: solid white 4px;
    overflow: hidden;
    margin: 0 auto;
  }

  .pfp {
    display: block;

    box-sizing: initial;

    height: 450px;
    width: 270px;
    margin-left: -20px;
    margin-top: -90px;
  }

  .hero {
    background-color: #222629;
    display: block;
    padding: 100px 20px 0px 20px;
  }

  .ssPadding {
    height: 200px;
    margin: -30px 0px -20px 0px;
  }

  .button {
    font-size: 16px;
  }

  .cqPadding {
    margin: 10px 0px 30px 0px;
  }

  .mobile-text {
    margin: 30px 0px;
  }

  .email {
    font-size: 28px;
  }
}
