/*        font-family: 'Kanit', sans-serif;

    font-family: 'PT Sans Caption', sans-serif;

    font-family: 'Source Sans Pro', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #222629;
}

a {
  background-color: #151616;
  margin: 5px 10px;
  cursor: pointer;
  padding: 5px;
  text-decoration: none;
}

a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}

h1 {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 42px;
  font-weight: 800;
  padding: 10px;
}

p {
  font-family: "Kanit", sans-serif;
  color: white;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
}

span {
  color: rgb(201, 201, 201);
  font-weight: 300;
}

button {
  display: inline-block;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin: 10px;
  text-decoration: none;
  background: #0075fc;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button {
  display: inline-block;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin: 10px;
  text-decoration: none;
  background: #0075fc;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  transition: background 150ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:active {
  transform: scale(0.97);
}

.button:hover,
.button:focus {
  background: #0053ba;
}

.button:active {
  transform: scale(0.97);
}

.section {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.container {
  min-width: 350px;
  max-width: 700px;
  padding: 30px;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #151616;
  color: white;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  font-family: "PT Sans Caption", sans-serif;
}

.pfp {
  display: block;

  box-sizing: initial;

  height: 450px;
  width: 270px;
  margin-left: -50px;
  margin-top: -90px;
}

.pfp-container {
  height: 250px;
  width: 250px;
  min-width: 250px;
  border-radius: 50%;
  border: solid white 4px;
  overflow: hidden;
}

.hero {
  background-color: #222629;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 50px 50px 50px;
}

.projects {
  background-color: #222629;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  background-color: #222629;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 50px 300px 50px;
}

.badge {
  display: inline-block;
  padding: 0px;
  font-size: 8px;
  border: 1px grey solid;
  margin: 3px;
}

.badge p {
  font-size: 14px;
}

.scroll {
  height: 200px;
  overflow: auto;
}

.ssPadding {
  margin-left: -100px;
}

@media only screen and (max-width: 1610px) {
  body {
    background-color: white;
  }

  .section {
    display: block;
    padding: 30px;
  }

  .ssPadding {
    padding: 0px;
    margin: -100px;
  }
}

@media only screen and (max-width: 665px) {
  * {
    text-align: center;
  }

  .container {
    min-width: 150px;
    max-width: 700px;
    padding: 0px;
  }

  .section {
    padding: 30px 0px;
  }

  .pfp-container {
    height: 250px;
    width: 250px;
    min-width: 250px;
    border-radius: 50%;
    border: solid white 4px;
    overflow: hidden;
    margin: 0 auto;
  }

  .pfp {
    display: block;

    box-sizing: initial;

    height: 450px;
    width: 270px;
    margin-left: -20px;
    margin-top: -90px;
  }

  .hero {
    background-color: #222629;
    display: block;
    padding: 100px 20px 0px 20px;
  }

  .ssPadding {
    height: 200px;
    margin: -30px 0px 10px 0px;
  }

  .button {
    font-size: 16px;
  }

  .cqPadding {
    margin: 10px 0px 30px 0px;
  }

  .mobile-text {
    margin: 30px 0px;
  }

  .email {
    font-size: 28px;
  }
}
